<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <br>
    <div>
    <h1>Login</h1>

    <form action="/login" method="post">
      Email: <input type="text" name="email"><br><br>
      Password: <input type="password" name="password"><br><br>
      <input type="submit" value="login"><br>
    </form>
    </div>
    <p><a href='/users/new'>Need to register? Click here to register as a new user.</a></p>

    <p><a href='/'>Return to homempage.</a></p>
    
  </body>
</html>
